<div>
  <mat-toolbar color="primary">
    <span>Angular 6 Testing App</span>
  </mat-toolbar>
  <div class="mat-content">
    <div class="margin">
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle>Please enter your login credential</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card-content>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Username" type="text" formControlName="username"
                         [ngClass]="{'is-invalid': submitted && f.username.errors}">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" formControlName="password"
                         [ngClass]="{'is-invalid': submitted && f.password.errors}">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <button mat-raised-button color="accent" [disabled]="loading">Login</button>
              <span></span>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
